* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 225, 205);
    
}

.principal {
    font-size:larger;
    text-size-adjust: true;
    text-align: center;
    
}

.left-side {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-left: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 4rem 0 0 8rem;
    
}

.namelist {
    padding-right: 60px;
}

.right-side {
    width: 200px;
    height: 200px;
    text-align: right;
    padding-left: 50%;
}
input {
    margin-left:  50px;
    width: 300px; 
    font-size: medium;
    border-radius: 25px;
    border: 2px solid rgb(3, 0, 5);
    padding: 10px; 
    height: 25aaspx;    
}

.buttonAdd {
    box-sizing: content-box;
    align-items: center;
    border-radius: 25px;
    background: rgb(123, 207, 141);
    padding: 8px; 
    width: 70px;
    height: 15px; 
}
.image {
    width: 40vw;
    margin-bottom: 10rem;
}

